/* You can add global styles to this file, and also import other style files */
:root {
  --topbar-height: 70px;
  --sidebar-width: 250px;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-a);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.link-active {
  font-weight: 700;
}

ul,
li {
  list-style-type: none;
  color: var(--text-color);
}

*[role='button'],
.cursor {
  cursor: pointer;
}

section.content-section {
}

.nl-card {
  background: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 1rem;
}
