.product {
  width: 100%;

  .product-link {
    display: block;
    width: 100%;
  }

  .product-media {
    width: 100%;
    position: relative;

    & > * {
      transition: opacity 0.2s linear;
    }

    .product-media-btn {
      position: absolute;
      bottom: 5%;
      left: 50%;
      display: inline-block;
      width: 90%;
      padding: 0.55rem 0;
      text-align: center;
      color: #000000;
      font-weight: 500;
      background-color: #ffffff;
      z-index: 15;
      opacity: 0;
      transform: translateX(-50%);
    }

    & > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: 50% 50%;
    }

    & > .product-media-back {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      opacity: 0;
    }

    & > .product-media-front {
      z-index: 11;
    }

    &:hover {
      & > .product-media-btn {
        opacity: 1;
      }

      & > .product-media-front {
        opacity: 0;
      }

      & > .product-media-back {
        opacity: 1;
      }
    }
  }

  .product-meta {
    display: block;

    .product-name {
      font-size: 1rem;
      margin: 0.4rem 0;
    }

    .product-color-list {
      display: flex;

      & > li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border: 1px solid #ffffff;
        outline: 1px solid #000000;
      }
    }
  }

  .product-sale {
    & > span {
      margin-right: 1rem;
    }

    & > .product-price {
      text-decoration: line-through;
    }

    & > .product-new-price {
      color: #e21313;
    }
  }
}
