<div class="product">
  <a class="product-link" [routerLink]="['/product', product.slug]">
    <div class="product-media">
      <img
        class="product-media-front"
        src="{{ product.imageFront || defaultImage }}"
        alt="Product Image"
      />
      <img
        class="product-media-back"
        src="{{ product.imageBack || defaultImage }}"
        alt="Product Image"
      />
      <a class="product-media-btn" [routerLink]="['/product', product.slug]"
        >Select options</a
      >
    </div>
  </a>
  <div class="product-meta">
    <h5 class="product-name">{{ product.name }}</h5>
    <span class="product-price">{{ product.price | currency }}</span>
    <ul class="product-color-list">
      <ng-container *ngIf="details?.length">
        <li
          *ngFor="let detail of details"
          [style]="{ backgroundColor: detail?.color?.code || '#ffffff' }"
        >
          &nbsp;
        </li>
      </ng-container>
    </ul>
  </div>
</div>
