<div class="layout-sidebar" [class]="{ show: isShowMenu }">
  <aside class="sidebar-menu">
    <a href="/" class="sidebar-logo"> NYLA </a>
    <div class="sidebar-inner-scroll">
      <div class="sidebar-category">SUPPORT</div>
      <div class="sidebar-items">
        <a class="router-link-exact-active" href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
      </div>
      <div class="sidebar-category">SUPPORT</div>
      <div class="sidebar-items">
        <a href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
      </div>
      <div class="sidebar-category">SUPPORT</div>
      <div class="sidebar-items">
        <a href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
      </div>
      <div class="sidebar-category">SUPPORT</div>
      <div class="sidebar-items">
        <a href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
      </div>
      <div class="sidebar-category">SUPPORT</div>
      <div class="sidebar-items">
        <a href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
        <a href="/">Forum</a>
      </div>
    </div>
  </aside>
</div>
