<div class="layout-sidebar" [class]="{ show: isShowMenu }">
  <aside class="sidebar-menu">
    <a href="/" class="sidebar-logo"> NYLA </a>
    <div class="sidebar-inner-scroll">
      <div class="sidebar-category">SUPPORT</div>
      <div class="sidebar-items">
        <a
          routerLink="/"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a routerLinkActive="link-active" [routerLink]="'/welcome'">Welcome</a>
        <a routerLinkActive="link-active" [routerLink]="'/category'"
          >Category</a
        >
      </div>
    </div>
  </aside>
</div>
