<main class="main-content">
  <section class="main-carousel">
    <div class="carousel-cell" data-flickity-bg-lazyload="assets/hero-1.jpeg">
      <div class="carousel-cell-overlay">
        <h3 class="hero-title">New Styles Added</h3>
        <p>Spring Summer '20 Collection</p>
        <a href="/shop">Explore Now</a>
      </div>
    </div>
    <div
      class="carousel-cell"
      data-flickity-bg-lazyload="assets/hero-1.jpeg"
    ></div>
    <div
      class="carousel-cell"
      data-flickity-bg-lazyload="assets/hero-1.jpeg"
    ></div>
  </section>
  <section class="product-section">
    <div class="container">
      <div class="product-tabs">
        <div class="tab-container">
          <ul class="tab-navs">
            <li class="tab-item active">
              <h5><a role="button">New Arrivals</a></h5>
            </li>
            <li class="tab-item">
              <h5><a role="button">Best Sellers</a></h5>
            </li>
            <li class="tab-item">
              <h5><a role="button">Women</a></h5>
            </li>
            <li class="tab-item">
              <h5><a role="button">Men</a></h5>
            </li>
          </ul>
          <div class="tab-content">
            <nl-product-list></nl-product-list>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="elementor-section">
    <div class="container">
      <div class="elementor-wrapper">
        <div class="elementor">
          <img src="assets/home-15-768x1024.jpeg" alt="Shop Women" />
          <a href="/shop?women">Shop Women</a>
        </div>
        <div class="elementor">
          <img src="assets/home-19-768x1024.jpeg" alt="Shop Men" />
          <a href="/shop?men">Shop Men</a>
        </div>
      </div>
    </div>
  </section>
</main>
